.main {
    height: auto;
    background-color: #212121;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 43.23%, rgba(0, 0, 0, 0.8) 65.63%, #000 100%);
    /* padding: 10px 60px; */
    color: #ffffff;
    font-family: "SFProText-Regular"
}

.carousel-container {
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}

.carousel-container h3 {
    padding-left: 60px;
}

/* .movies-container {
    display: flex;
    overflow-x: hidden;
    padding-left: 50px;
    scroll-behavior: smooth;
} */
.movie-card {
    min-width: 10.625rem;
    max-width: 200px;
    height: 14.375rem;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    transition: 0.3s transform ease;
    cursor: pointer;

}

.movie-card:hover {
    transform: scale(1.09);
}

.pre-btn,
.next-btn {
    border: none;
    width: 50px;
    height: 80%;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    top: 15%;
}

.next-btn {
    right: 0;
}

.pre-btn {
    left: 0;
}

.next-btn svg,
.pre-btn svg {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    width: 50px;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    padding: 10px;
}

.main_movies_cont {
    display: flex;
    overflow-x: scroll;
    padding-left: 50px;
    scroll-behavior: smooth;
}

.main_movies_cont::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {

    .next-btn svg,
    .pre-btn svg {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .main_movies_cont {
        padding-left: 15px;
    }

    .carousel-container h3 {
        padding-left: 25px;
    }
}

.movieGradientDiv {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 42%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-family: "SFProText-Regular", sans-serif;
    flex-wrap: wrap-reverse;
}

.movie_genre {
    margin-top: 1.25rem;
}

.movie_type {
    text-transform: capitalize;
}

.movie_genre>p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: .875rem;
    line-height: 22px;
}

.movie_desc {
    margin-top: 25px;
    font-size: 1rem;
}

.movie_cast {
    margin-top: 25px;
    line-height: 25px;
    font-size: .9375rem;
    font-weight: 500;
}

.subsBtnMovie {
    /* margin-top: 25px; */
    display: flex;
    cursor: pointer;
    width: 22rem;
    padding: 6px 8px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(117.54deg, rgba(72, 85, 99, 0.9) 5.56%, rgba(41, 50, 60, 0.9) 125.55%);
    font-size: .8125rem;
    border-radius: 8px;
}

.left_subs {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #e1c21b 0%, #e08d18 100%);
    width: 12rem;
    padding: 0px 5px;
    height: 2.5rem;
    border-radius: 8px;
}

.right-subs {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.watchPrevBtn {
    width: 16rem;
    text-align: left;
    display: flex;
    align-items: center;
    height: calc(2.5rem + 10px);
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin-right: 15px;
    font-weight: 700;
    font-family: "SFProText-Regular", sans-serif;
}

.addToMyListBtn button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 25px;
    font-size: 14px;
    font-family: "SFProText-Regular", sans-serif;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
}

.movie_right_side {
    margin-right: 150px;
    margin-top: 20px;
}

.movie_right_side>img {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin: 10px;
}

.movie_right_side>video {
    width: 300px;
    height: 350px;
}

.showVideo {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.showVideo video {
    width: 100vw;
    height: 100%;
}

.closeIcon {
    position: absolute;
    top: 70px;
    right: 40px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon svg {
    font-size: 2.5rem;
}

.closeIcon:hover {
    background-color: #e1c21b;
}
.share_main_container {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.shareMovieLink {
    padding: 20px;
    min-width: 40%;
    position: relative;
    height: 50%;
    /* border: 1px solid #fff; */
    color: #fff;
    font-family: "SFProText-Regular" , sans-serif ;
    line-height: 30px;
}
.link::selection {
    background-color: transparent;
}
.shareMovieLink .closeIcon {
    top: 15px;
    right: 15px;
}
.shareMovieLink .closeIcon svg {
    font-size: 2rem;
}
.shareTitle {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.movieHead {
    text-transform: uppercase;
    color: #FFD900;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px 0px;
}
.shareLink {
    font-weight: 700;
    color: #aaa;
    padding: 10px 0px;
}
.link {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-size: 1.2rem;
    padding-bottom: 5px;
}
.copyLink {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin: 20px auto;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in;
}
.copyLink:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.movieTitle {
    font-size: 1.05rem;
    font-weight: 500;
}
@media (max-width: 1000px) {
    .movieGradientDiv {
        padding-top: 4rem;
    }

    .movie_left_side {
        padding-bottom: 20px;
    }

    .movie_right_side>img {
        height: 50vh;
        width: 55vw;
        border-radius: 0;
        margin-bottom: 25px;
    }
}

.loader_container {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 42%, rgba(255, 255, 255, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_container .loader {
    height: 3rem;
    border: 6px solid transparent;
    border-top: 6px solid #ffd900;
    width: 3rem;
}

@media (max-width: 424px) {
    .movieGradientDiv {
        padding: 0;

    }

    .movie_right_side>img {
        height: 40vh;
        width: 100vw;
        border-radius: 0;
        margin: 0;
    }

    .movie_left_side {
        padding: 15px;
    }

    .watchPrevBtn {
        width: 100%;
    }

    .subsBtnMovie {
        margin-top: 10px;
        width: 100%;
    }

    .subs_watch_btn {
        flex-direction: column;
    }

    .movie_right_side {
        margin-top: 0;
    }
    .shareMovieLink {
        width: 100%;
    }
}