@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Lato&family=Poppins:ital,wght@0,500;0,700;1,300&family=REM:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

.posterImg {
    width: 100vw;
    height: auto;
    min-height: 40vh;
}

.container {
    position: relative;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 43.23%, rgba(0,0,0,0.8) 65.63%, #000 100%) !important */
    overflow-x: visible;
}

.titleImg {
    width: 25%;
    height: 43%;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 150px;
}

.genre {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 65px;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 43.23%, rgba(0, 0, 0, 0.8) 65.63%, #000 100%);
}

.genre p {
    margin-left: 40px;
}

.left-genre {
    margin-right: 40%;
    text-align: center;
}

.dot {
    font-size: 16px;
    color: #FFC900;
    margin: 0px 8px;
    font-weight: 500;
}

.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.play-btn {
    font-family: 'Roboto', sans-serif;
    width: 173px;
    height: 52px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    margin: 0px 20px;
    cursor: pointer;
}

.movie-carousel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

svg.addIcon,
svg.shareIcon {
    font-size: 2rem;
}

.arrow-container {
    display: flex;
    /* height: 100vh; */
    align-items: center;
}

.left-arrow {
    position: absolute;
    z-index: 40;
    color: #fff;
    left: 20px;
}

.right-arrow {
    position: absolute;
    right: 20px;
    z-index: 1;
    color: #fff;
}

.arrow-container button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-weight: 600;
    padding-top: 3px;
    cursor: pointer;
}

@media (max-width: 424px) {
    .posterImg {
        height: 40vh;
    }

    .right-arrow button svg,
    .left-arrow button svg {
        font-size: 1rem;
    }

    .arrow-container button {
        width: 30px;
        height: 30px;
    }

    .genre {
        display: block;
        padding-bottom: 0;
        font-size: 12px;
    }

    .left-genre {
        margin-right: 0;
    }

    .titleImg {
        display: none;
    }
}

@media (max-width : 900px) {
    .titleImg {
        display: none;
    }

}

@media (max-width : 1000px) {
    .left-genre {
        margin-right: 0;
    }

    .genre {
        padding-bottom: 0;
        font-size: 13px;
        display: block;
    }

    .play-btn {
        width: 140px;
        height: 40px;
        font-size: 13px;
    }
}


  